.u-section-1 .u-sheet-1 {
  min-height: 130px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 222px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 0 241px 0 -50px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 0 144px 60px 48px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 942px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 70px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 618px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 9px;
}

.u-section-3 .u-image-1 {
  width: 557px;
  left: auto;
  right: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 206px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 206px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 206px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  margin: 36px auto 0 51px;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  font-size: 4.25em;
}

.u-section-3 .u-text-7 {
  margin: 0 auto 60px 45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 510px;
  }

  .u-section-3 .u-btn-1 {
    border-style: solid;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1211px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 370px;
  }
}